@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2E2F42;
    --secondary-color: #F4F4FD;
    --white-color: #fff;
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--white-color);
    font-family: var(--font-family);
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #4d5ae5;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;   
}
.span-logo {
    color: var(--primary-color);
}

.header {
    color: var(--primary-color);
    font-weight: 500;
}

.header-hover:hover,
.header-hover:focus {
    color: #404bbf;
}

.first-address {
    font-style: normal;
}

.second-address2 {
    font-family: var(--font-family);
    color: #404bbf;
    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: underline;
}

.hero {
    background-color: var(--primary-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero header {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.first-button {
    font-family: var(--font-family);
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-align: left;
    background-color: #4d5ae5;
    cursor: pointer;
}

.first-button:hover,
.first-button:focus {
    background-color: #404bbf;
}

.advan {
    background-color: var(--secondary-color);
}

.team {
    background-color: var(--secondary-color);
}

.team2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    color: var(--primary-color);
    text-transform: capitalize;
}

.team-list {
    background-color: var(--white-color);
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
}

.portfolio-list {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--primary-color);
}

.port-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
}

.footer {
    background-color: var(--primary-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-stu {
    font-family: 'Raleway', sans-serif;
    color: var(--secondary-color);
}

.text-end {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: var(--secondary-color);
}